@font-face {font-family: "iconfont";
  src: url('iconfont.ttf?t=1600505559022') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1600505559022#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwudai:before {
  content: "\e63d";
}

.icon-dianying1:before {
  content: "\e60b";
}

.icon-dianying:before {
  content: "\e65b";
}

.icon-yanchupiao-xian:before {
  content: "\e6a0";
}

.icon-xiaolian:before {
  content: "\e621";
}

.icon-xinxi:before {
  content: "\e64b";
}

.icon-jiazai:before {
  content: "\e609";
}

.icon-play:before {
  content: "\e682";
}

.icon-down:before {
  content: "\e600";
}

.icon-love:before {
  content: "\e62b";
}

.icon-youjiantou:before {
  content: "\e61f";
}

.icon-pinglun:before {
  content: "\e616";
}

.icon-yiguanzhu:before {
  content: "\e62a";
}

.icon-sousuo:before {
  content: "\e65a";
}

.icon-location:before {
  content: "\e601";
}

.icon-zan:before {
  content: "\e602";
}

.icon-yingyuanguanli:before {
  content: "\e60e";
}

.icon-maoyan:before {
  content: "\e667";
}

.icon-shipin1:before {
  content: "\e884";
}

.icon-forward:before {
  content: "\e902";
}

.icon-ArtboardCopy:before {
  content: "\e603";
}

.icon-cha:before {
  content: "\e604";
}

.icon-xingbiao:before {
  content: "\e627";
}

.icon-me:before {
  content: "\e69d";
}

.icon-bofang:before {
  content: "\e67c";
}

.icon-shijianlishijilujishizhongbiaoxianxing:before {
  content: "\e605";
}

.icon-yanjing:before {
  content: "\e62c";
}

.icon-toggle:before {
  content: "\e606";
}

.icon-maoyan-shensedi:before {
  content: "\e661";
}

.icon-sousuozixunjingdiantaici:before {
  content: "\e672";
}

.icon-yingpianziliao-muhouhuaxu:before {
  content: "\e674";
}

.icon-zanpress:before {
  content: "\e607";
}

.icon-Love-kong:before {
  content: "\e64c";
}

.icon-shipin:before {
  content: "\e608";
}

.icon-shipin2:before {
  content: "\e60a";
}

.icon-dianhua:before {
  content: "\e718";
}

